<nav role='main-navigation'>
  <div>
    <a href="{{ '/' | relative_url }}">Home</a>
  </div>
  <div>
    <a href="{{ '/thoughts' | relative_url }}">Thoughts</a>
  </div>
  <div>
    <a href="{{ '/opinions' | relative_url }}">Opinions</a>
  </div>
</nav>
